/public/profiles
/public/storage
/public/hot
/storage/app/public
/storage/*.key
/node_modules
/vendor
.env
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log